{
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [{
    "files": "*.svelte",
    "options": {
      "svelteStrictMode": true,
      "svelteBracketNewLine": false,
      "svelteAllowShorthand": false,
      "svelteSortOrder" : "options-scripts-styles-markup",
      "plugins": [ 
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss" 
      ]
    }
  }],
  "pluginSearchDirs": [ "." ]
}
